<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserActivitys.Profile" />
        <activity
            android:name=".UserActivitys.TeacherActivitys.Attendance.CheckAttendance"
            android:parentActivityName=".UserActivitys.TeacherActivitys.UserActivity" />
        <activity
            android:name=".UserActivitys.AdminActivitys.CheckingCourse.ESW.ShowEswActivity"
            android:parentActivityName=".UserActivitys.AdminActivitys.CheckingCourse.CheckCourse" />
        <activity
            android:name=".UserActivitys.AdminActivitys.CheckingCourse.DAI.ShowDaiActivity"
            android:parentActivityName=".UserActivitys.AdminActivitys.CheckingCourse.CheckCourse" />
        <activity
            android:name=".UserActivitys.AdminActivitys.CheckingCourse.AND.ShowAndActivity"
            android:parentActivityName=".UserActivitys.AdminActivitys.CheckingCourse.CheckCourse" />
        <activity
            android:name=".UserActivitys.AdminActivitys.CheckingCourse.ADS.ShowAdsActivity"
            android:parentActivityName=".UserActivitys.AdminActivitys.CheckingCourse.CheckCourse" />
        <activity
            android:name=".UserActivitys.AdminActivitys.CheckingCourse.CheckCourse"
            android:parentActivityName=".UserActivitys.AdminActivitys.AdminActivity" />
        <activity
            android:name=".UserActivitys.TeacherActivitys.UserActivity"
            android:parentActivityName=".StartActivitys.LoginActivity" />
        <activity
            android:name=".UserActivitys.AdminActivitys.AdminActivity"
            android:parentActivityName=".StartActivitys.LoginActivity" />
        <activity
            android:name=".UserActivitys.AdminActivitys.AddingStudent.AdminAddStudent"
            android:parentActivityName=".UserActivitys.AdminActivitys.AdminActivity" />
        <activity
            android:name=".UserActivitys.AdminActivitys.RegisteringTeacher.RegisterUser"
            android:parentActivityName=".UserActivitys.AdminActivitys.AdminActivity" />
        <activity
            android:name=".StartActivitys.LoginActivity"
            android:parentActivityName=".StartActivitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>